<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Clã AliAla</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Copyright Clã AliAla ~> ZéSwiTcH</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/4linux.jpg" alt="4Linux">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">AGORA A ZUEIRA ULTRAPASSOU OS LIMITES KAKAKAKAKA</p>
			
			<div class="devops-path path">
				<h1>Record a Serem Batidos</h1>
				<a href="" class="devops-course course">
					<h2>524 - Lordão 7 Kill 38 de Dano, Record ainda é dele</h2>
				</a><!--
				--><a href="" class="devops-course course">
					<h2>525 - Farrur Rushadão dos deuses, cai na treta só para ouvir o tiroteio</h2>
				</a><!--
				--><a href="" class="ops-course course">
					<h2>527 - ZéSwiTcH irá ministrar essa semana um curso como ser atropelado por moto e planador no Campeonato!</h2>
				</a><!--
				--><a href="" class="ops-course course">
					<h2>528 - PimPim ainda tenta explicar a "pane mental" que sofreu no Campeonato, quando ele puxou a panela.</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>Novidades do Caso Vergonhoso em Miramar - Pecado</h1>
				<a href="" class="ex-course course">
					<h2>540 - Kevin, passeando pela Disney e Nárnia, deixou o Madruguinha morrer!</h2>
				</a><!--
				--><a href="" class="ex-course course">
					<h2>541 - Madruguinha, sofrendo com a situação ainda tenta entender o rolo compressor que passou por cima dele.</h2>
				</a><!--
				--><a href="" class="ex-course course">
					<h2>542 - Japa, virou Sushi antes de 2 Minutos!</h2>
				</a><!--
				--><a href="" class="ex-course course">
					<h2>543 - Matheus correndo no Aberto, já caiu fedendo!</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
