<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Clã AliAla</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Copyright Clã AliAla ~> ZéSwiTcH</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/4linux.jpg" alt="4Linux">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">AGORA A ZUEIRA ULTRAPASSOU OS LIMITES KAKAKAKAKA</p>
			
			<div class="devops-path path">
				<h1>RECORD A SEREM ALCANÇADOS!</h1>
				<a href="" class="devops-course course">
					<h2>LORDÃO 7 KILL 38 DE DANO, RECORD AINDA É DELE</h2>
				</a><!--
				--><a href="" class="devops-course course">
					<h2>FARRUR RUSHADÃO DOS DEUSES, CAI NA TRETA SÓ PARA OUVIR O TIROTEIO</h2>
				</a><!--
				--><a href="">
					<h2>ZéSwiTcH IRÁ MINISTRAR ESSA SEMANA UM CURSO COMO SER ATROPELADO POR MOTO E PLANADOR NO CAMPEONATO, QUE SÓ ATÉ HOJE ELE CONSEGUIU TAL FEITO!</h2>
				</a><!--
				--><a href="">
					<h2>PimPim AINDA TENTA EXPLICAR A "PANE MENTAL" QUE SOFREU NO CAMPEONATO, QUANDO ELE PUXOU A PANELA NOS INIMIGOS</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>NOVIDADES DO CASO VERGONHOSO EM MIRAMAR - PECADO</h1>
				<a href="" class="ex-course course">
					<h2>KEVIN, PASSEANDO PELA DISNEY E NÁRNIA, DEIXOU O MADRUGUINHA SER ELIMINADO, DE FORMA DESONROSA!</h2>
				</a><!--
				--><a href="" class="ex-course course">
					<h2>MADRUGUINHA, SOFRENDO COM A SITUAÇÃO, AINDA TENTA ENTENDER O ROLO COMPRESSOR QUE PASSOU POR CIMA DELE!</h2>
				</a><!--
				--><a href="" class="ex-course course">
					<h2>JAPA, VIROU SUSHI ANTES DE 2 MINUTOS!</h2>
				</a><!--
				--><a href="" class="ex-course course">
					<h2>MATHEUS CORRENDO NO ABERTO, SÓ DEU TEMPO DE FALAR MIZÉRA E KOÉ INTERNET!</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
